.current-weather__wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transition: width .1s ease, max-height .3s ease;
  width: 0;
  max-height: 0;
  padding: 10px 15px;
  .current-weather__content-wrap {
    opacity: 0;
    transition: opacity .3s ease;
    position: absolute;
    width: 100%;
  }
  &--active {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #cfe7fa url('../../assets/images/Silverlining.jpg') top center no-repeat;
      background-size: cover;
      box-shadow: inset 0px 0px 14px 10px rgba(255,255,255,.3);
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: .7;
    }
    .current-weather__content-wrap {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    opacity: 1;
    background-color: transparent;
    box-shadow: inset 0px 0px 14px 10px rgba(255,255,255,.3);
    transition: width .1s ease, max-height .3s ease;
    width: 100%;
    max-height: 400px;
    height: 100%;
  }
}

.current-weather__open-btn {
  padding: 10px;
  border: 0;
  background-color: transparent;
  animation: glow 1.2s infinite;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  &--active {
    animation: none;
  }
  &:focus {
    outline: none;
  }
}

.current-weather__open-icon {
  display: block;
  height: 40px;
  width: 40px;
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.current-weather__heading {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.current-weather__wind-speed-label,
.current-weather__wind-speed,
.current-weather__wind-deg,
.current-weather__wind-deg-label,
.current-weather__draft-label,
.current-weather__draft,
.current-weather__temp,
.current-weather__temp-label,
.current-weather__town-label,
.current-weather__town {
  color: white;
  font-size: 14px;
  line-height: 14px;
}

.current-weather__wind-wrap,
.current-weather__draft-wrap,
.current-weather__temp-wrap,
.current-weather__town-wrap {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  text-align: center;
}

.current-weather__btn-wrap {
  text-align: center;
}
.current-weather__get-forecast-btn {
  background-color: white;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #27b2ff;
  cursor: pointer;
  transition: all .4s ease;
  box-shadow: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
    box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.75), inset 0px 0px 0px 200px #27b2ff;
  }
}

@media (max-width: 767px) {
  .current-weather__wrap {
    &--active {
      max-height: 100vh;
    }
  }
  .current-weather__heading {
    font-size: 16px;
  }
}
