.forecast-weather__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding: 20px;
  &:before {
    background: #cfe7fa url('../../assets/images/forecast-bg.jpg') center center no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 14px 10px rgba(255,255,255, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    content: '';
    z-index: -1;
    opacity: 1;
  }
}

.forecast-weather__heading {
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.forecast-weather__close-btn-wrap {
  text-align: center;
}

.forecast-weather__close-btn {
  background-color: white;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #0071B1;
  cursor: pointer;
  transition: all .4s ease;
  box-shadow: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
    box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.75), inset 0px 0px 0px 200px #0071B1;
  }
}

.forecast-weather__header {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.forecast-weather__header-item {
  color: #0071B1;
  width: 16.666666666%;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 30px;

}

.forecast-weather__content-wrap {
  background-color: rgba(255,255,255, .8);
  border-radius: 5px;
  border-top: 15px;
  max-height: calc(100vh - 182px);
  overflow: auto;
}

.forecast-weather__item-wrap {
  &:nth-child(odd) {
    background-color: white;
  }
}

.forecast-weather__item {
  display: inline-block;
  vertical-align: middle;
  width: 16.666666666%;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

@media (max-width: 767px) {
  .forecast-weather__heading {
    font-size: 18px;
    line-height: 24px;
  }
  .forecast-weather__header-item,
  .forecast-weather__item {
    width: 25%;
    font-size: 12px;
    &--w-deg,
    &--w-speed {
      display: none;
    }
  }
  //.forecast-weather__item-wrap {
  //  display: none;
  //  &:nth-child(7n-13) {
  //    display: block;
  //  }
  //}
}
